[submodule "tools/phenotagger/externals/PhenoTagger"]
	path = tools/phenotagger/externals/PhenoTagger
	url = https://github.com/ncbi-nlp/PhenoTagger.git
[submodule "tools/phenotagger/externals/PhenoTagger_weights"]
	path = tools/phenotagger/externals/PhenoTagger_weights
	url = https://huggingface.co/lingbionlp/PhenoTagger_v1.2
[submodule "tools/phenotagger/externals/biobert-base-cased-v1.2"]
	path = tools/phenotagger/externals/biobert-base-cased-v1.2
	url = https://huggingface.co/dmis-lab/biobert-base-cased-v1.2
[submodule "tools/phenobert/externals/PhenoBERT"]
	path = tools/phenobert/externals/PhenoBERT
	url = https://github.com/EclipseCN/PhenoBERT.git
[submodule "corpora/gold_corpus/externals"]
	path = corpora/gold_corpus/externals
	url = https://github.com/azankl/phenotypeCR_eval.git
