[submodule "tools/phenotagger/externals/PhenoTagger"]
	path = tools/phenotagger/externals/PhenoTagger
	url = https://github.com/ncbi-nlp/PhenoTagger.git
[submodule "tools/phenotagger/externals/PhenoTagger_weights"]
	path = tools/phenotagger/externals/PhenoTagger_weights
	url = https://huggingface.co/lingbionlp/PhenoTagger_v1.2
[submodule "tools/phenotagger/externals/biobert-base-cased-v1.2"]
	path = tools/phenotagger/externals/biobert-base-cased-v1.2
	url = https://huggingface.co/dmis-lab/biobert-base-cased-v1.2
